[submodule "Subsystem_DTU"]
	path = Subsystem_DTU
	url = https://github.com/Edu4Chip/Subsystem_DTU.git
[submodule "Subsystem_KTH"]
	path = Subsystem_KTH
	url = https://github.com/Edu4Chip/Subsystem_KTH.git
	branch = main
