[submodule "ips/riscv-dbg"]
	path = ips/riscv-dbg
	url = https://github.com/pulp-platform/riscv-dbg.git
[submodule "ips/apb_gpio"]
	path = ips/apb_gpio
	url = https://github.com/pulp-platform/apb_gpio.git
[submodule "ips/apb_spi_master"]
	path = ips/apb_spi_master
	url = https://github.com/pulp-platform/apb_spi_master.git
[submodule "ips/ibex"]
	path = ips/ibex
	url = https://github.com/lowRISC/ibex.git
[submodule "ips/apb_uart"]
	path = ips/apb_uart
	url = https://github.com/pulp-platform/apb_uart.git
[submodule "ips/axi"]
	path = ips/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "ips/common_cells"]
	path = ips/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "ips/axi_spi_master"]
	path = ips/axi_spi_master
	url = https://github.com/pulp-platform/axi_spi_master.git
[submodule "ips/tech_cells_generic"]
	path = ips/tech_cells_generic
	url = https://github.com/pulp-platform/tech_cells_generic.git
[submodule "ips/pulp"]
	path = ips/pulp
	url = https://github.com/pulp-platform/pulp.git
