# Verification

basic testbench and program loading is completed. Testbench alters software file target based on variables on elaboration command. 

## Keelhaul

Later in the project once SoC is fully wired up, if we have memory models defined in IPXACT, we can use Keelhaul system to automatically create binary to run memory read+write test to each of the fields present in the peripheral memory map.

