adapter driver ftdi

ftdi channel 0
ftdi vid_pid 0x0403 0x6010
ftdi layout_init 0x0088 0x008b

ftdi device_desc "Digilent USB Device"

transport select jtag
adapter speed 1000

# Custom port settings
gdb_port 3333
tcl_port disabled
telnet_port 4444

# Target configuration
reset_config none

# Configure JTAG chain and the target processor
set _CHIPNAME xc7
set _TARGETNAME riscv.cpu

# Create tap based on xc7a35 jtag adapter
jtag newtap $_CHIPNAME tap -irlen 6 -expected-id 0x0362D093
target create $_TARGETNAME riscv -chain-position $_CHIPNAME.tap

# Remap registers
riscv set_ir idcode 0x09
riscv set_ir dtmcs 0x22
riscv set_ir dmi 0x23

gdb_report_data_abort enable
gdb_report_register_access_error enable

riscv set_reset_timeout_sec 120
riscv set_command_timeout_sec 120

# dump jtag chain
echo "JTAG Chain dump"
scan_chain
targets

init
halt 
echo "Ready for Remote Connections"